html,
body {
  margin: 0;
}

main {
  margin-top: 2rem;
}

nav {
  margin: 1rem 0;
}

.content {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.5rem;
}

.header {
  display: flex;
  padding: 1rem;
  background: green;
  color: white;

  /* these are the styles that we need to make the hiding/showing work */
  position: sticky;
  top: 0;
}
